.app_dark_theme {
    --bg-color: #272a33;
    --inverted-bg-color: #ffdbca;
    

    --primary-color: #335500;
    --secondary-color: #adff2f;

    --inverted-primary-color: #3f3000;
    --inverted-secondary-color: #c26e00;
}