

.app_light_theme {
    --bg-color: #ffdbca;
    --inverted-bg-color: #272a33;
    

    --primary-color: #3f3000;
    --secondary-color: #c26e00;

    --inverted-primary-color: #335500;
    --inverted-secondary-color: #adff2f;

    //skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0, 0, 0, 0.20);

    //code
    --code-bg: #e8e8ea;
}