.Icon {
    fill: var(--primary-color);
    color: var(--primary-color);

    &:hover {
        opacity: 0.8;
    }
}

.inverted {
    fill: var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}